body {
  background-color: white;
  font-family: 'Homemade Apple', cursive;
  font-family: 'Petit Formal Script', cursive;
  font-family: 'Varela Round', sans-serif;
  font-family: 'Caveat', cursive;
  font-family: 'Fredoka One', cursive;
  font-family: 'Cabin Sketch', cursive;
  font-family: 'Space Mono', monospace;
  font-family: 'Cutive Mono', monospace;
  font-family: 'Podkova', serif;
  font-family: 'Roboto Mono', monospace;
  background-color:white;
  padding-bottom: 20px;
}
#test p {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */

}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
h1{
  text-align: center;
}
h2{
  position:relative;
  text-align:center;
  font-size:60px;
  top:70px;
}
.me {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bio {
  margin-top: 80px;
  color: white;
  text-shadow: 0 0 5px black, 0 0 10px #fff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 4px #ffffff, 0 0 55px #ffffff, 0 0 50px #ffffff;
  text-align: center;
  font-family: "League Script";
  font-size: 80px;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 3.5s;
}

.cmu{
    color: white;
    width: 100px;
    height: 100px;
    animation-name: move;
    animation-duration: 4s;
}
.center{
  color: black;
  font-family: "Cutive Mono";
  font-size: 35px;
  text-align: center;
  position:relative;
  top:50px;
}

.elementToFadeInAndOut {
    width:270px;
    height:270px;
    border-radius: 50%;
    background-image:url("trying.png");
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 6s linear forwards;
    opacity: 0;
    position:relative;
    top:100px;
    left:500px;
}

@-webkit-keyframes fadeinout {
  50% { opacity: 1; }
}

@keyframes fadeinout {
  50% { opacity: 1; }
}

#aboutMe{
  position:relative;
  left:340px;
  text-decoration: none;
  ;
}
#tea{
  color:green;}

div.square {
  position:absolute;
  border: solid 2px black;
  width: 1100px;
  height: 250px;
  top: 260px;
  left: 90px;
}

#mail{
  position:relative;
  left:400px;
  top:400px;
}
#github{
  position:relative;
  top:397px;
  left:430px;
}
#linkedin{
  position:relative;
  left:460px;
  top:404px;
}
#facebook{
  position:relative;
  left:490px;
  top:395px;
}
#instagram{
  position:relative;
  left:520px;
  top:403px;
}
.img-circle {
    position: relative;
    top: 100px;
    left:550px;
}
#future{
  position:relative;
  top:170px;
  left:250px;
  margin-bottom:40px;
}
